.registration-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: left;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-column {
  width: 48%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.input-error {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 13px;
}

.form-actions {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 20px;
}

.submit-button,
.reset-button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.reset-button {
  background-color: #ccc;
  color: #333;
  width: 120px;
  height: 50px;
}

.submit-button {
  background-color: #f1c40f;
  color: white;
  width: 120px;
  height: 50px;
  border-radius: 5px;
}

button[disabled] {
  cursor: not-allowed !important;
  opacity: 0.5;
}

.right-column {
  margin-right: 20px;
  margin-left: 40px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Ajusta según el tamaño deseado */
}

.spinner {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  z-index: 1000;
  opacity: 0.9;
}

.toast.success {
  background-color: #4caf50;
}

.toast.error {
  background-color: #f44336;
}

.toast.warning {
  background-color: #ff9800;
}
